#upBox{
    -fx-background-color:  #055554;
}
#lblBright{
    -fx-text-fill: white;
    -fx-font-size: 25px;
}
#AnchorBord{
    -fx-border-color: grey;
}
#Anchor1{
    -fx-border-color: grey;
}
#Anchor2{
    -fx-border-color: grey;
}
#Anchor3{
    -fx-border-color: grey;
}